<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="https://unpkg.com/lenis@1.3.11/dist/lenis.css">
   <script src="https://unpkg.com/lenis@1.3.11/dist/lenis.min.js"></script> 
  <title>Document</title>
</head>
<body>
    <header>
    <div class="logo"><img src="/images/logo.png" alt=""> Colegio Diego Montaña Cuellar</div>
    <b ></b>
    <nav>
      <ul>
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#programas">Programas</a></li>
        <li><a href="#contacto">Contacto</a></li>
        <li><a href="/login" class="login-btn">Login</a></li>
      </ul>
    </nav>
  </header>

  <!-- ====== Hero Section ====== -->
  <section class="hero" id="inicio">
    <h1>Bienvenidos al Colegio Diego Montaña Cuellar</h1>
    <p>Formando líderes del futuro con valores, conocimiento y compromiso.</p>
  </section>

  <!-- ====== Sección "Nosotros" ====== -->
  <section id="nosotros">
    <h2>Sobre Nosotros</h2>
    <p>Somos una institución educativa ubicada en Usme, Bogotá, Colombia, con una amplia trayectoria en la formación de jóvenes. Contamos con 2 jornadas, 3 sedes y ofrecemos educación básica primaria, media y una educación para el siglo 21.</p>
  </section>

  <!-- ====== Sección "Programas" ====== -->
  <section id="programas">
    <h2>Programas Académicos</h2>
    <div class="features">
      <div class="feature">
        <h3>Educación Primaria</h3>
        <p>Contamos con educacion desde Pre-escolar hasta 5to.</p>
      </div>
      <div class="feature">
        <h3>Educación Secundaria</h3>
        <p>Contamos con educacion desde 6to hasta 11vo.</p>
      </div>
      <div class="feature">
        <h3>Actividades Extracurriculares</h3>
        <p>Contamos con actividades extracurriculares para que los estudiantes puedan desarrollar sus habilidades tanto en deportes como en artes.</p>
      </div>
    </div>
  </section>

  <!-- ====== Sección "Contacto" ====== -->
  <section id="contacto">
    <h2>Contáctanos</h2>
    <p>Direccion:  Transversal 6b # 100c 55 sur, Bogotá, Colombia</p>
     <p>Correo: <a href="mailto:cedmonteblanco5@redp.edu.co">cedmonteblanco5@redp.edu.co</a></p>
  </section>

  <!-- ====== Footer ====== -->
  <footer>
    <p>&copy; 2025 Colegio Diego Montaña Cuellar. Todos los derechos reservados.</p>
    <p>Desarrollado por Daniela Zamora</p>
  </footer>

  <!-- Script para el efecto de scroll del navbar -->
  <script src="/javascripts/main.js"></script>
 
</body>
</html>